body{
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.heading{
    font-size: 14px;

    background-color: aquamarine;
    width: 100%;
    top: 0;
    margin-top: 0px;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 20px;
}
.heading h2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#start{
    width: 80px;
    height: 30px;
    color: black;
}